.combobox {
    width: 300px;
    box-sizing: border-box;
}
.combobox input {
    border: 1px solid #cccccc;
    padding: 5px 10px;
}

.combobox .list {
    position: relative;
}
.combobox .items-wrapper {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 100%;
}
.combobox .list .item {
    padding: 5px 10px;
    background: #fafafa;
    cursor: pointer;
}
.combobox .list .item.selected {
    background: #5199DB;
    color: #fafafa;
}
.combobox .list .item.disabled {
    color: #777;
    cursor: default;
}